body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

select {
  display: block;
  text-align: center;
}

button,
#submit {
  border-radius: 15%;
  background: #68b0ab;
  padding: 15px;
  font-size: 1rem;
}

progress[value] {
  width: 100px;
  height: 20px;
  background: #ccf6c8
}

.login {
  background-image: url("../images/login-screen.jpg");
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login h1, .login h3, .welcome h2, .welcome h4 {
  font-family: "Press Start 2P", cursive;
}

.entry-form {
  text-align: center;
}

.welcome {
  background-image: url("../images/login-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  text-align: center;
  display: none;
}

.day {
  background: #edc988;

  transition: 2s;
}

.night {
  background: #4c4c4c;
  transition: 2s;
}

.buttons {
  text-align: center;
}

.metrics {
  background: #faf3dd;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid grey;
  height: 25%;
}

.petname {
  width: 100%;
  font-family: "Press Start 2P", cursive;
  align-items: center;
  justify-content: center;
  animation-name: startgame;
  animation-duration: 5s;
}

.pet-gameover {
  color: red;
}

@keyframes startgame {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.game-over {
  font-size: 2rem;
  color: red;
  text-align: center;
  font-family: "Dhurjati", sans-serif;
  animation-name: gameends;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

@keyframes gameends {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.container {
  height: 350px;
  width: 500px;
  border-radius: 50%;
  position: relative;
  top: 20%;
  border: 1px solid grey;
}

.character-move {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: slideacross 20s linear infinite;
}

@keyframes slideacross {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-100px, 0);
  }
}

.character-end {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  animation-name: gameover 3s linear;
}

@keyframes gameover {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.character-workout {
  position: absolute;
  top: 50%;
  left: 50%;
  animation-duration: 3s;
  animation-name: workout;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes workout {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25%,
  75% {
    transform: translate(0, -50px);
  }
  40%,
  60% {
    transform: translate(0, -100px);
  }
  50% {
    transform: translate(0, -150px);
  }
}

/* https://stackoverflow.com/questions/21482458/how-to-insert-text-exactly-after-progressbar */

.progress {
  display: inline-block;
}

#figure {
  margin: 0 auto;
}

#main-screen {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: url("../images/tomagatchi.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}


